@import url('https://fonts.googleapis.com/css?family=Montserrat:100,100i,200,200i,300,300i,400,400i,500,500i,600,600i,700,700i,800,800i,900,900i');
@import url('https://fonts.googleapis.com/css?family=Poppins:400,500,600,700,800,900');

body,
html {
  height: 100%;
  width: 100%;
  margin: 0;
  padding: 0;
  overflow: auto;
}

body {
  font-family: 'Montserrat', sans-serif;
  font-weight: 300;
  line-height: 1.7;
  color: #000000;
  background-color: #81A4CD;
}


/* ====================================
REMINDER FORM
==================================== */
