@import url("https://fonts.googleapis.com/css?family=Montserrat:100,100i,200,200i,300,300i,400,400i,500,500i,600,600i,700,700i,800,800i,900,900i");
@import url("https://fonts.googleapis.com/css?family=Poppins:400,500,600,700,800,900");

:root {
  --nblue: #81a4cd;
  --nrose: #e4959e;
}

body,
html {
  height: 100%;
  width: 100%;
  margin: 0;
  padding: 0;
  overflow: auto;
}

body {
  font-family: "Montserrat", sans-serif;
  font-weight: 300;
  line-height: 1.7;
  color: #000000;
  background-color: #81a4cd;
}

.main-display {
  position: absolute;
  top: 10vh;
  left: max(5vw, 10vh);
  right: max(5vw, 10vh);
}

/* ================================
  SCROLL BAR CHANGES
================================ */

/* width */
::-webkit-scrollbar {
  width: 1vw;
}

/* Track */
::-webkit-scrollbar-track {
  background: rgba(226, 232, 238, 0);
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: rgba(129, 164, 205, 0.8);
  border-radius: 5vh;
  border: 2px solid rgb(226, 232, 238);
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: rgba(129, 164, 205, 1);
}

/* ====================================
  NAVIGATION AND HEADER BAR
==================================== */

.nav-bar .login-button {
  position: fixed;
  top: 3vh;
  right: 2vw;
  height: 3.5vh;
  padding: 0 1.5vh 0 1.5vh;
  font-size: max(1.75vh, 12px);
  color: white;
  border-radius: 1.5vh;
  border: 0px;
  background-color: #e4959e;
  text-align: center;
}

.nav-bar .login-button:hover {
  background-color: white;
  color: #e4959e;
  box-shadow: 0px 0px 8px 2px rgba(228, 149, 158, 0.6);
}

.nav-bar .logout-button {
  position: fixed;
  top: 3vh;
  right: 2vw;
  height: 3.5vh;
  padding: 0 1.5vh 0 1.5vh;
  font-size: max(1.75vh, 12px);
  color: white;
  border-radius: 1.5vh;
  border: 0px;
  background-color: #e4959e;
  text-align: center;
}

.nav-bar .logout-button:hover {
  background-color: white;
  color: #e4959e;
  box-shadow: 0px 0px 8px 2px rgba(228, 149, 158, 0.6);
}

.login-widget-container {
  z-index: 99;
  position: fixed;
  right: 2vw;
  top: 3vh;
  width: max(20vw, 30vh);
  background-color: #e7cccf;
  padding: 1vh 0.75vw 1vh 0.75vw;
  border-radius: 1vh;
}

.login-widget-tab {
  display: inline;
  border: 0px;
  border-radius: 0.5vh;
  width: fit-content;
  padding: 0.5vh 2vw;
  margin-right: 0.75vw;
  margin-bottom: 0.25vh;
  font-size: max(1.75vh, 12px);
  font-weight: 500;
  color: #cca5aa;
  background-color: #f5edee;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.login-widget-tab:hover {
  background-color: white;
  color: #e4959e;
  box-shadow: 0px 0px 8px 2px rgba(228, 149, 158, 0.6);
}

.selected-tab {
  background-color: #e4959e;
  color: white;
  font-weight: 600;
}

.login-widget-container .form-input {
  width: 100%;
  margin: 0.75vh 0 0.75vh 0;
}

.login-widget-container .form-option {
  border: 0px;
  border-radius: 0.5vh;
  padding: 0.5vh 0 0.5vh 1vh;
  font-size: max(1.75vh, 12px);
  color: black;
  min-height: 2vh;
  width: 96.25%;
}

.login-widget-container .show-pass {
  display: inline-block;
  margin-top: 0.75vh;
  width: 50%;
  font-size: max(1.5vh, 12px);
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.login-widget-container .form-submit {
  float: right;
  border: 0px;
  border-radius: 0.5vh;
  width: fit-content;
  padding: 0.5vh 1vw;
  margin: 0.5vh 0.35vw 0.25vh 0;
  font-size: max(1.75vh, 12px);
  background-color: #e4959e;
  color: white;
  font-weight: 600;
}

.login-widget-container .form-submit:hover {
  background-color: white;
  color: #e4959e;
  box-shadow: 0px 0px 8px 2px rgba(228, 149, 158, 0.6);
}

.login-widget-container .delete-mark {
  position: absolute;
  top: -1.2vh;
  right: -1.2vh;
  height: 2.75vh;
  width: 2.75vh;
  text-align: center;
  background-color: #e4959e;
  border-radius: 5vh;
  color: white;
}

.login-widget-container .delete-mark:hover {
  color: black;
  background-color: white;
  border: 1px solid black;
}

.login-widget-container .delete-mark .x-mark {
  position: absolute;
  top: -0.7vh;
  left: 0.8vh;
  font-size: 2.2vh;
  font-weight: 600;
}

/* Position and sizing of burger button */
.bm-burger-button {
  position: fixed;
  width: 4.5vh;
  height: 3vh;
  left: 3.5vh;
  top: 3vh;
}

/* Color/shape of burger icon bars */
.bm-burger-bars {
  background: #ffffff;
}

/* Color/shape of burger icon bars on hover*/
.bm-burger-bars-hover {
  background: #fbfbfb;
}

/* Position and sizing of clickable cross button */
.bm-cross-button {
  display: none;
  height: 2vh;
  width: 2vh;
}

/* Color/shape of close button cross */
.bm-cross {
  background: #ffffff;
}

.bm-menu-wrap {
  position: fixed;
  height: 100%;
}

/* General sidebar styles */
.bm-menu {
  background: #e4959e;
  font-size: 18px;
  font-weight: 600;
  box-shadow: 0px 0px 16px 2px rgba(0, 0, 0, 0.2);
}

.menu-container {
  position: fixed;
  margin-top: 3vh;
  width: 300px;
}

.menu-item {
  display: block;
  text-decoration: none;
  color: white;
  padding: 1.5vh 25px 1.5vh 20px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.menu-item:hover {
  color: #e4959e;
  background-color: white;
}

.active-menu-item {
  display: block;
  text-decoration: none;
  color: #e4959e;
  background-color: white;
  padding: 1.5vh 25px 1.5vh 20px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

/* ====================================
  REMINDERS
==================================== */

.phone-container {
  position: absolute;
  width: 65vh;
  height: max(90vh, 500px);
  min-width: 30vw;
  left: max(23vw, 25vh);
  margin-left: min(-30vh, -15vw);
  top: -2vh;
  background-image: url("./assets/empty-phone.png");
  background-size: 100% 100%;
  background-repeat: no-repeat;
}

.envelope {
  position: relative;
  display: none;
  opacity: 0;
  left: max(2.8vw, 5.5vh);
  bottom: -40vh;
}

.envelope-top {
  position: absolute;
  z-index: 0;
  width: 33vh;
  min-width: 16vw;
  border-bottom: 16vh solid #f7cbd0;
  border-left: 10vh solid transparent;
  border-right: 10vh solid transparent;
  border-top: 20vh solid transparent;
}

.envelope-bottom-top {
  position: absolute;
  z-index: 0;
  width: 33vh;
  min-width: 16vw;
  border-bottom: 20vh solid transparent;
  border-left: 10vh solid transparent;
  border-right: 10vh solid transparent;
  border-top: 16vh solid #c9dff8;
}

.envelope-bottom {
  position: relative;
  z-index: 1;
  width: 33vh;
  min-width: 16vw;
  border-bottom: 20vh solid #ffcbd1;
  border-left: 10vh solid #f0c8ce;
  border-right: 10vh solid #f0c8ce;
  border-top: 15vh solid transparent;
  border-radius: 0 0 3vh 3vh;
  filter: drop-shadow(1px 2px 3px rgb(0, 0, 0));
}

.reminder-form-container {
  position: absolute;
  width: 50vh;
  min-width: 23.1vw;
  left: max(7vh, 3.3vw);
  top: max(10vh, 4vw);
  color: black;
}

.reminder-form-container label {
  font-size: max(2.2vh, 16px);
  font-weight: 500;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.reminder-form-container .form-input-1 {
  position: relative;
  padding: 0.75vh 0 0.5vh 0;
}

.reminder-form-container .form-input-2 {
  position: relative;
  padding: 0.75vh 0 0.5vh 0;
}

.reminder-form-container .form-input-3 {
  position: relative;
  padding: 0.75vh 0 0.5vh 0;
}

.reminder-form-container .form-input-4 {
  position: relative;
  padding: 0.75vh 0 0.5vh 0;
}

.reminder-form-container .form-option {
  width: 97%;
  border: 2px solid black;
  border-radius: 0.5vh;
  padding: 0.5vh;
  font-size: max(1.75vh, 12px);
  color: black;
  margin: 0.25vh 0 0.25vh 0;
  resize: none;
  min-height: 2vh;
}

.reminder-form-container .form-option:hover {
  background-color: rgb(239, 246, 253);
  box-shadow: 0px 0px 4px 2px #b5d3f556;
}

.reminder-form-container button {
  position: relative;
  margin: 1vh 0.1vw 0 0.1vw;
  font-size: max(1.75vh, 12px);
  border: 1px solid black;
  border-radius: 1.5vh;
  background-color: #b5d3f5;
  padding: 0.3vh 1vh;
}

.reminder-form-container .form-return-button {
  background-color: rgb(221, 221, 221);
}

.reminder-form-container button:hover {
  color: white;
  background-color: rgb(129, 164, 205);
}

.reminder-form-container .recipient {
  display: inline-block;
  position: relative;
  margin: 0.5vh 0.5vw 0.5vh 0.1vw;
  font-size: max(1.75vh, 12px);
  border: 1px solid black;
  border-radius: 1.5vh;
  background-color: #b5d3f5;
  width: fit-content;
  padding: 0.3vh 1vh 0.3vh 1vh;
}

.recipient .delete-mark {
  position: absolute;
  top: -0.65vh;
  right: -0.8vh;
  height: 1.75vh;
  width: 1.75vh;
  text-align: center;
  background-color: rgb(114, 114, 114);
  border-radius: 5vh;
  color: white;
  box-shadow: 0px 0px 4px 2px #b5d3f556;
}

.recipient .delete-mark:hover {
  color: black;
  background-color: white;
  border: 1px solid black;
}

.recipient .delete-mark .x-mark {
  position: absolute;
  top: -0.4vh;
  left: 0.5vh;
  font-size: 1.4vh;
}

.reminder-form-container .success-message {
  position: absolute;
  font-size: max(2.2vh, 16px);
  font-weight: 600;
  padding: 1.5vh;
  text-align: center;
  width: 94%;
  color: black;
  border: 1px solid black;
  border-radius: 5vh;
  background-color: #dfecfc;
  height: 9vh;
}

.reminder-form-container .new-reminder {
  position: absolute;
  bottom: -9vh;
  width: 16vw;
  left: 50%;
  margin-left: -8vw;
}

.reminder-instructions {
  position: absolute;
  left: max(45vw, 65vh);
  top: 3vh;
  width: max(38vw, 60vh);
  font-size: max(2.8vh, 22px);
  font-weight: 600;
  color: white;
}

.reminder-instructions .instruction-item {
  margin: 1.5vh 0 1.5vh 1.5vw;
}

.instruction-item:nth-child(1) {
  animation: slideUp 0.5s ease-out 0s both;
}

.instruction-item:nth-child(2) {
  animation: slideUp 0.5s ease-out 0.15s both;
}

.instruction-item:nth-child(3) {
  animation: slideUp 0.5s ease-out 0.3s both;
}

.instruction-item:nth-child(4) {
  animation: slideUp 0.5s ease-out 0.45s both;
}

.instruction-item:nth-child(5) {
  animation: slideUp 0.5s ease-out 0.6s both;
}

@keyframes slideUp {
  0% {
    opacity: 0;
    transform: translateY(300px);
  }
}

/* ====================================
  CONTACTS
==================================== */

.dim-background {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.7);
}

.contact-form-container {
  position: fixed;
  width: 60vh;
  min-width: 20vw;
  left: 50%;
  margin-left: -33vh;
  top: 5%;
  height: 50vh;
  color: black;
  padding: 25vh 3vh 15vh 3vh;
  background-image: url(./assets/scratchpaper.png);
  background-size: 126% auto;
  background-position: center;
  animation: appear 1s ease;
}

.contact-form-container label {
  font-size: max(2.2vh, 16px);
  font-weight: 500;
}

.contact-form-container .form-input {
  padding: 0.75vh 0 0.5vh 0;
}

.contact-form-container .form-option {
  width: 97%;
  border: 2px solid black;
  border-radius: 0.5vh;
  padding: 0.5vh;
  font-size: max(1.75vh, 12px);
  color: black;
  margin: 0.25vh 0 0.25vh 0;
  resize: none;
  min-height: 2vh;
  background-color: white;
}

.contact-form-container .form-option:hover {
  background-color: rgb(239, 246, 253);
  box-shadow: 0px 0px 4px 2px #b5d3f556;
}

.contact-form-container button {
  float: right;
  clear: left;
  margin: 0.5vh 0.1vw 0 0.1vw;
  font-size: max(1.75vh, 12px);
  border: 1px solid black;
  border-radius: 1.5vh;
  background-color: #b5d3f5;
  padding: 0.3vh 1vh;
  margin-bottom: 1vh;
}

.contact-form-container .form-return-button {
  background-color: rgb(221, 221, 221);
}

.contact-form-container button:hover {
  color: white;
  background-color: rgb(129, 164, 205);
}

.contact-form-container .contact {
  display: inline-block;
  position: relative;
  margin: 0.5vh 0.5vw 0.5vh 0.1vw;
  font-size: max(1.75vh, 12px);
  border: 1px solid black;
  border-radius: 1.5vh;
  background-color: #b5d3f5;
  width: fit-content;
  padding: 0.3vh 1vh 0.3vh 1vh;
}

.contact .delete-mark {
  position: absolute;
  top: -0.65vh;
  right: -0.8vh;
  height: 1.75vh;
  width: 1.75vh;
  text-align: center;
  background-color: rgb(114, 114, 114);
  border-radius: 5vh;
  color: white;
  box-shadow: 0px 0px 4px 2px #b5d3f556;
}

.contact .delete-mark:hover {
  color: black;
  background-color: white;
  border: 1px solid black;
}

.delete-mark .x-mark {
  position: absolute;
  top: -0.4vh;
  left: 0.5vh;
  font-size: 1.4vh;
}

/* ====================================
  LANDING PAGE
==================================== */

.landing-page-welcome {
  position: absolute;
  width: 60vh;
  min-width: 20vw;
  left: 50%;
  margin-left: -30vh;
  top: 15%;
  color: white;
  font-size: max(4vh, 24px);
  font-weight: bolder;
  text-align: center;
}

.create-reminder-button button {
  border-radius: 12px;
  background-color: #e4959e;
  border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: max(2vh, 14px);
}

.create-reminder-button button:hover {
  filter: brightness(97%);
}

.phone img {
  display: block;
  padding-top: 4vh;
  margin-left: auto;
  margin-right: auto;
  height: 60vh;
  max-width: 100%;
  max-height: 100%;
}

/* ====================================
  DASHBOARD
==================================== */

.dash-greeting {
  font-size: max(4vh, 24px);
  font-weight: 700;
  margin: 1.5vh 0;
  color: white;
}

.dashboard-tabs {
  display: inline-block;
  width: fit-content;
  font-size: max(2.2vh, 16px);
}

.active-now {
  font-weight: 600;
  color: white;
  background-color: #f3cbd0;
  text-decoration: none;
  padding: 0.75vh 1vh;
  margin-right: 0.1vw;
  border-radius: 1vh 1vh 0 0;
}

.inactive {
  font-weight: 400;
  text-decoration: none;
  background-color: rgba(255, 255, 255, 0.6);
  color: rgb(0, 0, 0);
  padding: 0.75vh 1vh;
  margin-right: 0.1vw;
  border-radius: 1vh 1vh 0 0;
}

.inactive:hover {
  font-weight: 600;
  color: white;
  background-color: #f3cbd0;
}

.sub-display {
  border: 0px solid black;
  background-color: #f3cbd0;
  height: 70vh;
  border-radius: 0 5vh 5vh 5vh;
}

.reminder-tabs {
  margin: 2vh -1vh 1vh 2vh;
  padding: 0.5vh 1vh;
  border-radius: 5vh;
  border: 1px solid black;
  color: rgb(172, 172, 172);
  background-color: rgb(255, 255, 255);
  font-size: max(2vh, 14px);
}

.selected-tab {
  background-color: #e4959e;
  color: white;
  font-weight: 600;
}

.reminder-list-box {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(25vw, 1fr));
  column-gap: 2vh;
  row-gap: 2vh;
  margin: 1vh 3vh 1vh 3vh;
  padding: 2vh 3vh 3vh 3vh;
  height: 55vh;
  background-color: white;
  border-radius: 3vh;
  overflow: auto;
}

.reminder-list-box .reminder {
  border-radius: 2.5vh;
  background-color: #f3cbd0;
  padding: 1vh 2vh;
  box-shadow: 2px 2px 2px 1px #e4959e27;
  font-size: max(1.75vh, 12px);
  font-weight: 400;
  color: black;
  max-height: 20vh;
}

.reminder .content {
  background-color: white;
  border-radius: 1vh;
  padding: 0.5vh;
  height: 10vh;
  font-weight: 300;
  color: #383838;
  overflow: auto;
  overflow-wrap: break-word;
}

.reminder .heading {
  margin-bottom: 0.5vh;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.reminder .footer {
  margin-top: 0.75vh;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.reminder .update-options {
  float: right;
  right: 0;
}

.reminder .update-options span:hover {
  color: white;
}

.subdisplay-container {
  position: relative;
  background-color: rgb(255, 255, 255);
  top: 2.5vh;
  height: 65vh;
  left: 3vh;
  margin-right: 6vh;
  border-radius: 3vh;
}

/* ====================================
  USER SETTINGS
==================================== */

/* The Modal (background) */
.modal {
  display: block;
  position: fixed;
  z-index: 1;
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: rgb(0, 0, 0); /* Fallback color */
  background-color: rgba(0, 0, 0, 0.4); /* Black w/ opacity */
}

/* Modal Content/Box */
.modal-content {
  background-color: #fefefe;
  margin: 15% auto; /* 15% from the top and centered */
  padding: 20px;
  border: 1px solid #888;
  width: 80%; /* Could be more or less, depending on screen size */
}

/* The Close Button */
.close {
  background-color: #e4959e;
  color: white;
  float: right;
  font-size: 28px;
  font-weight: bold;
}

.close:hover,
.close:focus {
  filter: brightness(95%);
  text-decoration: none;
  cursor: pointer;
}

.update-button {
  border-radius: 12px;
  background-color: #e4959e;
  border: none;
  color: white;
  padding: 10px 20px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 1vh;
}

.update-button:hover {
  filter: brightness(90%);
}
