@import url("https://fonts.googleapis.com/css?family=Montserrat:100,100i,200,200i,300,300i,400,400i,500,500i,600,600i,700,700i,800,800i,900,900i");
@import url("https://fonts.googleapis.com/css?family=Poppins:400,500,600,700,800,900");

:root {
  --nblue: #81a4cd;
  --nrose: #e4959e;
}

body,
html {
  height: 100%;
  width: 100%;
  margin: 0;
  padding: 0;
  overflow: auto;
}

body {
  font-family: "Montserrat", sans-serif;
  font-weight: 300;
  line-height: 1.7;
  color: #000000;
  background-color: #81a4cd;
}

.main-display {
  position: absolute;
  top: 10vh;
  left: max(5vw,10vh);
  right: max(5vw,10vh);
}

/* ================================
  SCROLL BAR CHANGES
================================ */

/* width */
::-webkit-scrollbar {
  width: 1vw;
}

/* Track */
::-webkit-scrollbar-track {
  background: rgba(226, 232, 238, 0);
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: rgba(129, 164, 205, 0.8);
  border-radius: 5vh;
  border: 2px solid rgb(226, 232, 238);
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: rgba(129, 164, 205, 1);
}

/* ====================================
  NAV BAR
==================================== */

.login-widget-container {
  position: fixed;
  right: 1vw;
  top: 1vh;
}

.login-widget-container .form-option {
  border: 2px solid black;
  border-radius: 0.5vh;
  padding: 0.5vh;
  font-size: 1.75vh;
  color: black;
  margin: 0.25vh 0 0.25vh 0;
  resize: none;
  min-height: 2vh;
}

/* ====================================
  REMINDERS
==================================== */

.outer-container {
  position: fixed;
  width: 90vh;
  height: 80vh;
  min-width: 30vw;
  left: 50%;
  top: 50%;
  margin-top: -40vh;
  margin-left: -45vh;
  background-image: url(./assets/frog.png);
  background-size: 100% auto;
  background-repeat: no-repeat;
  background-position-y: 17%;
  border-radius: 25vh;
  filter: hue-rotate(150deg);
  /* box-shadow: 0px 0px 16px 4px rgba(255, 255, 255, 0.25); */
}

.reminder-form-container {
  position: fixed;
  width: 60vh;
  min-width: 20vw;
  left: 50%;
  margin-left: -30vh;
  top: 30%;
  color: black;
}

.reminder-form-container label {
  font-size: 2.25vh;
  font-weight: 500;
}

.reminder-form-container .form-input {
  padding: 0.75vh 0 0.5vh 0;
}

.reminder-form-container .form-input-bg {
  padding: 0.75vh 0 0.5vh 0;
  background-color: white;
}

.reminder-form-container .form-option {
  width: 97%;
  border: 2px solid black;
  border-radius: 0.5vh;
  padding: 0.5vh;
  font-size: 1.75vh;
  color: black;
  margin: 0.25vh 0 0.25vh 0;
  resize: none;
  min-height: 2vh;
}

.reminder-form-container .form-option:hover {
  background-color: rgb(239, 246, 253);
  box-shadow: 0px 0px 4px 2px #b5d3f556;
}

.reminder-form-container button {
  float: right;
  margin: 0.5vh 0.1vw 0 0.1vw;
  font-size: 1.75vh;
  border: 1px solid black;
  border-radius: 1.5vh;
  background-color: #b5d3f5;
  padding: 0.3vh 1vh;
}

.reminder-form-container .form-return-button {
  background-color: rgb(221, 221, 221);
}

.reminder-form-container button:hover {
  color: white;
  background-color: rgb(129, 164, 205);
}

.reminder-form-container .recipient {
  display: inline-block;
  position: relative;
  margin: 0.5vh 0.5vw 0.5vh 0.1vw;
  font-size: 1.75vh;
  border: 1px solid black;
  border-radius: 1.5vh;
  background-color: #b5d3f5;
  width: fit-content;
  padding: 0.3vh 1vh 0.3vh 1vh;
}

.recipient .delete-mark {
  position: absolute;
  top: -0.65vh;
  right: -0.8vh;
  height: 1.75vh;
  width: 1.75vh;
  text-align: center;
  background-color: rgb(114, 114, 114);
  border-radius: 5vh;
  color: white;
  box-shadow: 0px 0px 4px 2px #b5d3f556;
}

.recipient .delete-mark:hover {
  color: black;
  background-color: white;
  border: 1px solid black;
}

.delete-mark .x-mark {
  position: absolute;
  top: -0.4vh;
  left: 0.5vh;
  font-size: 1.4vh;
}

.reminder-form-container .success-message {
  position: absolute;
  font-size: 2.2vh;
  font-weight: 600;
  padding: 1.5vh;
  text-align: center;
  width: 94%;
  color: black;
  border: 1px solid black;
  border-radius: 5vh;
  background-color: #dfecfc;
  height: 9vh;
}

.reminder-form-container .new-reminder {
  position: absolute;
  bottom: -9vh;
  width: 16vw;
  left: 50%;
  margin-left: -8vw;
}

/* ====================================
  LANDING PAGE
==================================== */

.landing-page-welcome {
  position: fixed;
  width: 60vh;
  min-width: 20vw;
  left: 50%;
  margin-left: -30vh;
  top: 15%;
  color: white;
  font-size: 4vh;
  font-weight: bolder;
  text-align: center;
}

.create-reminder-button button {
  border-radius: 12px;
  background-color: #e4959e;
  border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 2vh;
}

.create-reminder-button button:hover {
  filter: brightness(97%);
}

.phone img {
  display: block;
  margin-left: auto;
  margin-right: auto;
  height: 60vh;
  max-width: 100%;
  max-height: 100%;
}

/* ====================================
  DASHBOARD
==================================== */

.dash-greeting {
  font-size: 4vh;
  font-weight: 700;
  margin: 1.5vh 0;
  color: white;
}

.dashboard-tabs {
  display: inline-block;
  width: fit-content;
  font-size: 2vh;
  font-weight: 600;
}

.active-now {
  color: white;
  background-color: #e7cccf;
  text-decoration: none;
  padding: 0.75vh 1vh;
  margin-right: 0.1vw;
  border-radius: 1vh 1vh 0 0;
  border-top: 2px solid black;
  border-right: 2px solid black;
  border-left: 2px solid black;
}

.inactive {
  text-decoration: none;
  background-color: rgb(255, 255, 255);
  color: rgb(214, 179, 179);
  padding: 0.75vh 1vh;
  margin-right: 0.05vw;
  border-radius: 1vh 1vh 0 0;
}

.sub-display {
  border: 2px solid black;
  background-color: #e7cccf;
  height: 70vh;
}

/* ====================================
  nav-bar and landing-container(landing page button to toggle to login/signup)
==================================== */

.nav-bar {
  position: absolute;
  font-size: 1.8vh;
  font-weight: 300;
  padding: 1.5vh;
  text-align: right;
  width: 94%;
  color: black;
  height: 9vh;
}

.landing-container {
  font-size: 1.8vh;
  font-weight: 300;
  width: 94%;
  color: black;
  height: 9vh;
}
